# AI coders that I don't want to commit
.aider*
.cursor
.roo
.roomodes

# Bazel Related
.bazel_output
bazel-bin
bazel-experimental*
bazel-out
bazel-testlogs

# User's .bazelrc
.bazelrc.user

# Added by Task Master AI
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log

# Dependency directories
node_modules/

# Environment variables
.env
.envrc
.dir-locals.el

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store

# Task files
tasks.json
tasks/
.unisonhistory

# Coverage reports
lcov.info
coverage/
