---
- import_playbook: setup-history.yml
- import_playbook: setup-homebrew-env.yml
  when: ansible_facts['os_family'] == "Darwin"
- import_playbook: setup-ssh-key.yml
- import_playbook: setup-gpg-agent.yml
- import_playbook: setup-bazel.yml
  when: ansible_facts['env']['TERMUX_VERSION'] is not defined
- import_playbook: setup-cicd.yml
- import_playbook: setup-vibe-coding.yml
- import_playbook: setup-z.yml
- import_playbook: setup-spacemacs.yml
- import_playbook: setup-direnv.yml
- import_playbook: setup-wrangler.yml
- import_playbook: setup-swift-tools.yml
  when: ansible_facts['os_family'] == "Darwin"
- import_playbook: setup-rust-tools.yml
- import_playbook: setup-sql-tools.yml
- import_playbook: setup-go-tools.yml
- import_playbook: setup-kotlin-tools.yml
- import_playbook: setup-python-tools.yml
- import_playbook: setup-css-tools.yml
- import_playbook: setup-devtools.yml
