---
- import_playbook: setup-history.yml
- import_playbook: setup-ssh-key.yml
- import_playbook: setup-gpg-agent.yml
- import_playbook: setup-bazel.yml
  when: ansible_facts['env']['TERMUX_VERSION'] is not defined
- import_playbook: setup-windsurf-rules.yml
- import_playbook: htop.yml
- import_playbook: sed.yml
- import_playbook: grep.yml
- import_playbook: man.yml
- import_playbook: gh.yml
- import_playbook: jira.yml
- import_playbook: tmux.yml
- import_playbook: clang-format.yml
- import_playbook: oserrorsgodernize.yml
- import_playbook: grpcui.yml
- import_playbook: fd.yml
- import_playbook: locate.yml
- import_playbook: cleanup-repo.yml
- import_playbook: setup-cicd.yml
- import_playbook: setup-vibe-coding.yml
- import_playbook: setup-claude-sandbox.yml
- import_playbook: setup-claude-privacy.yml
- import_playbook: setup-z.yml
- import_playbook: setup-spacemacs-go.yml
- import_playbook: setup-spacemacs-python.yml
- import_playbook: gmi.yml
