---
- import_playbook: curl.yml

- name: Ensure rustc is present
  hosts: all
  tasks:
    - name: Include guard for rustc playbook
      block:
        - name: Stop early if the rustc playbook is already included
          meta: end_play
          when: rustc_playbook_imported is defined
        - name: Ensure the rustc playbook is not included
          set_fact:
            rustc_playbook_imported: true
          when: rustc_playbook_imported is not defined

    - name: Ensure rustc is present on non-Termux systems
      shell: "{{ playbook_dir }}/verified-run exec https://sh.rustup.rs -- -y"
      register: rustup_result
      changed_when: "rustup_result.stdout is not search('unchanged')"
      when: ansible_facts['env']['TERMUX_VERSION'] is not defined

    - name: Ensure rustc is present on Termux
      shell: command -v rust || pkg install -y rust
      when: ansible_facts['env']['TERMUX_VERSION'] is defined
