---
- import_playbook: setup-shell-profile.yml

- name: Ensure the user bin directory exists
  hosts: all
  tasks:
    - name: Include guard for setup-user-bin-directory playbook
      block:
        - name: Stop early if the setup-user-bin-directory playbook is already included
          meta: end_play
          when: setup_user_bin_directory_playbook_imported is defined
        - name: Ensure the setup-user-bin-directory playbook is not included
          set_fact:
            setup_user_bin_directory_playbook_imported: true
          when: setup_user_bin_directory_playbook_imported is not defined

    - name: Determine the user bin directory
      ansible.builtin.set_fact:
        user_bin_directory: "{{ ansible_facts['env']['HOME'] + '/.local/bin' }}"

    - name: Determine the user shims bin directory
      ansible.builtin.set_fact:
        user_shims_bin_directory: "{{ ansible_facts['env']['HOME'] + '/.local/shims/bin' }}"

    - name: Ensure the user bin directory exists
      ansible.builtin.file:
        path: "{{ user_bin_directory }}"
        state: directory
        mode: '0700'

    - name: Ensure the user shims bin directory exists
      ansible.builtin.file:
        path: "{{ user_shims_bin_directory }}"
        state: directory
        mode: '0700'

    - name: Debug output of the user bin directory
      ansible.builtin.debug:
        msg: "The bin directory is {{ user_bin_directory }}"

    - name: Ensure the user bin PATH is set
      ansible.builtin.blockinfile:
        path: "{{ user_profile_path }}"
        append_newline: true
        prepend_newline: true
        create: true
        marker: "# {mark} Add local bin to path"
        block: |
          if [ -d "$HOME/.local/bin" ]; then
              PATH="$HOME/.local/bin:$PATH"
          fi
          if [ -d "$HOME/.local/shims/bin" ]; then
              PATH="$HOME/.local/shims/bin:$PATH"
          fi
