---
- name: Setup Rust development environment
  hosts: all
  tasks:
    - name: Check if rustup is installed
      command: which rustup
      register: rustup_check
      ignore_errors: true
      changed_when: false

    - name: Install rustup on macOS
      community.general.homebrew:
        name: rustup-init
        state: present
      when: ansible_facts['os_family'] == "Darwin" and rustup_check.rc != 0

    - name: Initialize rustup on macOS
      command: rustup-init -y --no-modify-path
      when: ansible_facts['os_family'] == "Darwin" and rustup_check.rc != 0

    - name: Install rustup on Debian
      shell: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --no-modify-path
      when: ansible_facts['os_family'] == "Debian" and rustup_check.rc != 0

    - name: Install rustup on Termux
      shell: "pkg install -y rust && rustup-init -y --no-modify-path"
      when: ansible_facts['env']['TERMUX_VERSION'] is defined and rustup_check.rc != 0
