---
- import_playbook: starship.yml
- import_playbook: setup-shell-profile.yml
- import_playbook: setup-user-config-directory.yml
- import_playbook: setup-fira-code-nerd-font.yml

- name: Setup starship prompt
  hosts: all
  tasks:
    - name: Include guard for starship setup playbook
      block:
        - name: Stop early if the starship setup playbook is already included
          meta: end_play
          when: starship_setup_playbook_imported is defined
        - name: Ensure the starship setup playbook is not included
          set_fact:
            starship_setup_playbook_imported: true
          when: starship_setup_playbook_imported is not defined

    - name: Check if starship is already initialized in shell profile
      lineinfile:
        path: "{{ user_profile_path }}"
        line: '[ "$TERM_PROGRAM" != "vscode" ] && eval "$(starship init {{ user_shell.stdout | basename }})"'
        state: present
      check_mode: yes
      register: starship_check

    - name: Add starship initialization to shell profile
      lineinfile:
        path: "{{ user_profile_path }}"
        line: '[ "$TERM_PROGRAM" != "vscode" ] && eval "$(starship init {{ user_shell.stdout | basename }})"'
        create: yes
      when: starship_check is changed

    - name: Apply starship catppuccin-powerline preset
      shell: starship preset catppuccin-powerline -o {{ user_config_directory }}/starship.toml
      args:
        creates: "{{ user_config_directory }}/starship.toml"
      environment:
        PATH: "{{ ansible_facts['env']['HOME'] }}/.cargo/bin:{{ ansible_facts['env']['PATH'] }}"

    - name: Configure scan_timeout to avoid directory scanning timeout warnings
      lineinfile:
        path: "{{ user_config_directory }}/starship.toml"
        regexp: '^scan_timeout\s*='
        line: 'scan_timeout = 30'
        insertafter: BOF
