---
- import_playbook: go.yml
- import_playbook: setup-shell-profile.yml

- name: Ensure the user go bin directory is set up
  hosts: all
  tasks:
    - name: Ensure go bin PATH is set
      ansible.builtin.blockinfile:
        path: "{{ user_profile_path }}"
        append_newline: true
        prepend_newline: true
        create: true
        marker: "# {mark} set PATH for go binaries"
        block: |
          if [ -d "$(go env GOPATH)/bin" ] ; then
              PATH="$(go env GOPATH)/bin:$PATH"
          fi

    - name: Determine GOPATH for current Ansible session
      command: go env GOPATH
      register: go_env_gopath
      changed_when: false

    - name: Add GOPATH/bin to current Ansible PATH
      set_fact:
        ansible_env: "{{ ansible_env | combine({'PATH': go_env_gopath.stdout + '/bin:' + ansible_env.PATH}) }}"
