---
- import_playbook: tlmgr.yml

- name: Ensure kotex is installed and up-to-date
  hosts: all
  tasks:
    - name: Include guard for setup-kotex playbook
      block:
        - name: Stop early if the setup-kotex playbook is already included
          meta: end_play
          when: setup_kotex_playbook_imported is defined
        - name: Ensure the setup-kotex playbook is not included
          set_fact:
            setup_kotex_playbook_imported: true
          when: setup_kotex_playbook_imported is not defined

    - name: Ensure texlive is up-to-date on Termux
      block:
        - name: Update all TeX Live packages
          ansible.builtin.shell: tlmgr update --all
          register: tlmgr_update_output
          # This hasn't been tested.
          changed_when: "'no updates available' not in tlmgr_update_output.stdout"

        - name: Print the output of the tlmgr update
          ansible.builtin.debug:
            var: tlmgr_update_output.stdout
      when: ansible_facts['env']['TERMUX_VERSION'] is defined

    - name: Ensure kotex is installed on Termux
      block:
        - name: Check if kotex is installed
          ansible.builtin.shell: "tlmgr info cjk-ko | grep -q 'installed: *Yes'"
          register: kotex_installed
          ignore_errors: true
          changed_when: false

        - name: Install kotex if not installed
          ansible.builtin.shell: tlmgr install cjk-ko
          when: kotex_installed.rc != 0
          register: tlmgr_kotex
          changed_when: "'package already present:' not in tlmgr_kotex.stdout"
      when: ansible_facts['env']['TERMUX_VERSION'] is defined

    - name: Run termux-patch-texlive
      ansible.builtin.shell: "termux-patch-texlive"
      register: termux_patch_texlive_applied
      ignore_errors: true
      changed_when: "'Yes' in termux_patch_texlive_applied.stdout"
      when: ansible_facts['env']['TERMUX_VERSION'] is defined
